@import "_theme";

.idwall-preview {
  width: 300px;
  height: 300px;
  margin: 1.5em 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #aaa;
  background-position: center;
}

.idwall-display {
  position: relative;
  height: 500px;
  width: 500px;
  border: 2px solid white;
  background-color: rgba(0,0,0,.5);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;

  &.hovered {
    background-color: red;
  }

  p {
    text-align: center;
    margin-top: 50%;
  }

  div[id^="idwall-overlay-"]{
    background-color: rgba(0, 0, 0, .5);
    display: none;
    z-index: 998;
    position: absolute;
  }

  #idwall-overlay-top {
    top: 0;
    left: 0;
    width: 100%;
    // background-color: red;
  }

  #idwall-overlay-bottom {
    bottom: 0;
    right: 0;
    width: 100%;
    // background-color: yellow;
  }

  #idwall-overlay-left {
    left: 0;
    // background-color: blue;
  }

  #idwall-overlay-right {
    right: 0;
    // background-color: green;
  }

  #idwall-crop {
    height: 20%;
    width: 30%;
    display: none;
    z-index: 998;
    position: absolute;
    top: 40%;
    left: 35%;
    border: 2px dashed white;

    div[id^="idwall-resize-"] {
      height: 15px;
      width: 15px;
      border-radius: 100%;
      background-color: white;
      border: 1px solid #555;
      position: absolute;
      z-index: 999;
    }

    #idwall-resize-nw {
      top: -8px;
      left: -8px;
      cursor: nw-resize;
    }

    #idwall-resize-n {
      top: -8px;
      left: calc(50% - 8px);
      cursor: n-resize;
    }

    #idwall-resize-ne {
      top: -8px;
      right: -8px;
      cursor: ne-resize;
    }

    #idwall-resize-e {
      top: calc(50% - 8px);
      right: -9px;
      cursor: e-resize;
    }

    #idwall-resize-se {
      bottom: -8px;
      right: -8px;
      cursor: se-resize;
    }

    #idwall-resize-s {
      bottom: -8px;
      left: calc(50% - 8px);
      cursor: s-resize;
    }

    #idwall-resize-sw {
      bottom: -8px;
      left: -8px;
      cursor: sw-resize;
    }

    #idwall-resize-w {
      top: calc(50% - 8px);
      left: -9px;
      cursor: w-resize;
    }

    &:hover {
      cursor: grab;
    }

    &:active {
      cursor: grabbing;
    }
  }
}
